**/
!post_processing/
!post_processing_galerkin/
!utility_belt/
!linear_stability/
!interactive_processing
!jupyter_notebooks
!secondary_stability/
!secondary_stability/import/
!secondary_stability/grid_space_eigensolve/
!secondary_stability/preprocessing/
!secondary_stability/postprocessing/
interactive_processing/*.mat
interactive_processing/*.png
interactive_processing/*.fig
linear_stability/*.mat
linear_stability/*.png
linear_stability/*.fig
*.mat
!secondary_stability/import/*.mat
*.asv
!slanCM_Data.mat
*.h5
?/
*.pdf
*.out
*.err