**/
!post_processing/
!utility_belt/
!linear_stability/
!interactive_processing
interactive_processing/*.mat
interactive_processing/*.png
interactive_processing/*.fig
linear_stability/*.mat
linear_stability/*.png
linear_stability/*.fig
*.mat
!slanCM_Data.mat
*.h5
?/
